<!DOCTYPE html>
<html>
  <head>
    <title>PlantSitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Owners", owners_path %> | <%= link_to "Sitters", sitters_path %> | <%= link_to "Plants", plants_path %>

    <%= yield %>
  </body>
</html>
